{% extends 'base_user_center.html' %}
{% load staticfiles %}
{% block right_centent %}
    <div class="right_content clearfix">
        <h3 class="common_title2">全部订单</h3>

        {% for order in order_page %}
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{ order.create_time }}</li>
                <li class="col02">订单号：{{ order.order_id }}</li>
                <li class="col02 stress">{{ order.stauts_name }}</li>
            </ul>
            <table class="order_list_table w980">
                <tbody>

                <tr>
                    <td width="55%">
                        {% for order_goods in order.order_goods_s %}
                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="{{ order_goods.sku.image.url }}"></li>
                                <li class="col02">{{ order_goods.sku.name }}<em>{{ order_goods.sku.price }}元/{{ order_goods.sku.unit }}g</em>
                                </li>
                                <li class="col03">{{ order_goods.count }}</li>
                                <li class="col04">{{ order_goods.amount }}元</li>
                            </ul>
                        {% endfor %}
                    </td>
                    <td width="15%">{{ order.total_price |add:order.transit_price }}(含运费：{{ order.transit_price }})元</td>
                    <td width="15%">{{ order.stauts_name }}</td>
                    <td width="15%"><a href="#" status="{{ order.order_status }}" order_id="{{ order.order_id }}"
                                       class="oper_btn">去支付</a></td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
        {% csrf_token %}
        <div class="pagenation">

            {% if order_page.has_previous_page %}
                <a href="{% url 'user:order' order_page.previous_page_number %}">
                    <上一页
                </a>
            {% endif %}
            {% for pindex in pages %}
                <a href="{% url 'user:order' pindex %}"
                   {% if pindex == order_page.number %}class="active"{% endif %}>{{ pindex }}</a>
            {% endfor %}
            {% if order_page.has_next_page %}
                <a href="{% url 'user:order' order_page.next_page_number %}">下一页></a>

            {% endif %}
        </div>
    </div>
{% endblock right_centent %}
{% block bottomfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
        $('.oper_btn').each(function () {
            // 获取支付状态
            status = $(this).attr('status')
            if (status == 1) {
                $(this).text('去支付')
            } else if (status == 4) {
                $(this).text('去评价')
            } else if (status == 5) {
                $(this).text('已完成')
            }
        })
        $('.oper_btn').click(function () {
            //获取订单的status
            var stauts = $(this).attr('status');
            //获取订单id
            var order_id = $(this).attr('order_id');
            if (stauts == 1) {
                //进行支付

                var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
                var params = {'order_id': order_id, 'csrfmiddlewaretoken': csrf_token};
                //发起ajax post请求,访问/order/pay 传递常数订单id
                $.post('/order/pay', params, function (data) {
                    if (data.res == 3) {
                        // 校验成功去，引导支付宝的交易页面
                        window.open(data.pay_url); //重新打开一个页面

                        //浏览器访问/order/check，获取支付交易的结果
                        // ajax post 传递参数：order_id
                        $.post('/order/check', params, function (data) {
                            if (data.res == 3) {
                                alert(data.message);
                                location.reload();// 刷新页面
                            } else {
                                alert(data.errmsg);
                            }
                        });
                    } else {
                        alert(data.errmsg);
                    }
                });
            } else if (status == 4) {
                // 其他情况
                // 跳转到评价页面
                location.href = '/order/comment/' + order_id
            }
        });
    </script>

{% endblock bottomfiles %}

